@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400');

@font-face {
                          font-family: "Posterama2001W04-Regular";
                          src: url('../fonts/Posterama 2001 W04 Regular.otf') format("opentype");
                        }
                        
.homepage {
  width               : 100%;
  min-width           : 7411px;
  height              : 100vh;
  min-height          : 4464px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(248, 248, 248, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.homepage .rectangle {
  background-color    : rgba(255, 255, 255, 0.87);
  top                 : 672px;
  height              : 486px;
  box-sizing          : border-box;
  width               : 5761px;
  position            : absolute;
  margin              : 0;
  left                : 1506px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(140, 140, 140, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .events {
  background-color    : rgba(255,255,255,0.0);
  top                 : 244px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 250.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 339.0px;
}
.homepage .numberofevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1462px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1515px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 150.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 204.0px;
}
.homepage .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 759px;
  height              : 313px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 1708px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 759px;
  height              : 313px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 3705px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 759px;
  height              : 313px;
  width               : 341px;
  position            : absolute;
  margin              : 0;
  left                : 5494px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .numberofevents1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 760px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2094px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 100.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 136.0px;
}
.homepage .thismonth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 938px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2251px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 87.0px;
  color               : rgba(158, 158, 158, 1.0);
  text-align          : center;
  line-height         : 118.0px;
}
.homepage .thisweek {
  background-color    : rgba(255,255,255,0.0);
  top                 : 924px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4220px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 87.0px;
  color               : rgba(158, 158, 158, 1.0);
  text-align          : center;
  line-height         : 118.0px;
}
.homepage .thisyear {
  background-color    : rgba(255,255,255,0.0);
  top                 : 914px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 6185px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 87.0px;
  color               : rgba(158, 158, 158, 1.0);
  text-align          : center;
  line-height         : 118.0px;
}
.homepage .a36 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 887px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2094px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 136.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 184.0px;
}
.homepage .a9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 872px;
  height              : auto;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 3999px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 136.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 184.0px;
}
.homepage .a249 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 864px;
  height              : auto;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : 5894px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 136.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 184.0px;
}
.homepage .futureevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 760px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4134px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 100.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 136.0px;
}
.homepage .pastevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 751px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 5920px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 100.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 136.0px;
}
.homepage .event {
  background-color    : rgba(255,255,255,0.0);
  top                 : 814px;
  height              : 218px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 1777px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1796px;
  height              : 1238px;
  width               : 1781px;
  position            : absolute;
  margin              : 0;
  left                : 1505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1238px;
  box-sizing          : border-box;
  width               : 1250px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 78px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group .room201 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .group .a10am1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .group .dwightu2019sparty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 377px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 85.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 116.0px;
}
.homepage .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 983px;
  height              : 2px;
  width               : 1251px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : 2px;
  width               : 1252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 232px;
  width               : 243px;
  position            : absolute;
  margin              : 0;
  left                : 1538px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group .viewdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1047px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 80.0px;
  color               : rgba(130, 130, 130, 1.0);
  text-align          : center;
  line-height         : 108.0px;
}
.homepage .groupcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1796px;
  height              : 1238px;
  width               : 1250px;
  position            : absolute;
  margin              : 0;
  left                : 5848px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy3 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1238px;
  box-sizing          : border-box;
  width               : 1250px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 78px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy3 .room201 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy3 .a10am1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy3 .cprtraining {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 395px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 85.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 116.0px;
}
.homepage .groupcopy3 .viewdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1047px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 398px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 80.0px;
  color               : rgba(130, 130, 130, 1.0);
  text-align          : center;
  line-height         : 108.0px;
}
.homepage .groupcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1797px;
  height              : 1238px;
  width               : 1251px;
  position            : absolute;
  margin              : 0;
  left                : 4193px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 1238px;
  box-sizing          : border-box;
  width               : 1250px;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  border-radius       : 78px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .room201 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 608px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy4 .a10am1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 608px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy4 .michael40yarddash {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 85.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 116.0px;
}
.homepage .groupcopy4 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 983px;
  height              : 2px;
  width               : 1251px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : 2px;
  width               : 1252px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .funrun {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 231px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .funrun .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 230px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .funrun .funrun1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -19px;
  height              : 499px;
  width               : 885px;
  position            : absolute;
  margin              : 0;
  left                : -276px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy4 .viewdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1047px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 596px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 80.0px;
  color               : rgba(130, 130, 130, 1.0);
  text-align          : center;
  line-height         : 108.0px;
}
.homepage .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1772px;
  height              : 1238px;
  width               : 2654px;
  position            : absolute;
  margin              : 0;
  left                : 1247px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 31px;
  height              : 1238px;
  box-sizing          : border-box;
  width               : 1250px;
  position            : absolute;
  margin              : 0;
  left                : 1700px;
  border-radius       : 78px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .a101dundermifflind {
  background-color    : rgba(255,255,255,0.0);
  top                 : 201px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2038px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy .a10am1pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 269px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2080px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 56.0px;
  color               : rgba(182, 182, 182, 1.0);
  text-align          : center;
  line-height         : 76.0px;
}
.homepage .groupcopy .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1014px;
  height              : 2px;
  width               : 1251px;
  position            : absolute;
  margin              : 0;
  left                : 1699px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 388px;
  height              : 2px;
  width               : 1252px;
  position            : absolute;
  margin              : 0;
  left                : 1699px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .download {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 281px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .download .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 281px;
  width               : 305px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .download .download1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -61px;
  height              : 513px;
  width               : 945px;
  position            : absolute;
  margin              : 0;
  left                : -297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .groupcopy .viewdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1078px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 2098px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 80.0px;
  color               : rgba(130, 130, 130, 1.0);
  text-align          : center;
  line-height         : 108.0px;
}
.homepage .line5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4139px;
  height              : 3px;
  width               : 784px;
  position            : absolute;
  margin              : 0;
  left                : 1458px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .screenshot20190514at101048pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1850px;
  height              : 247px;
  width               : 273px;
  position            : absolute;
  margin              : 0;
  left                : 3011px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .screenshot20190514at101048pm .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 247px;
  width               : 241px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .screenshot20190514at101048pm .screenshot20190514at101048pm1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 247px;
  width               : 273px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3456px;
  height              : 387px;
  width               : 1478px;
  position            : absolute;
  margin              : 0;
  left                : 5727px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .group2 .addnewevent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 467px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 150.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 204.0px;
}
.homepage .group2 .plus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 387px;
  width               : 387px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .rectanglecopy {
  background-color    : rgba(195, 195, 195, 1.0);
  top                 : 353px;
  height              : 2330px;
  box-sizing          : border-box;
  width               : 1179px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .coworkers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1360px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 70.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 95.0px;
}
.homepage .line4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1307px;
  height              : 5px;
  width               : 1183px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .company {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1154px;
  height              : auto;
  width               : 459px;
  position            : absolute;
  margin              : 0;
  left                : 523px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 70.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 95.0px;
}
.homepage .dundermifflin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 493px;
  height              : auto;
  width               : 605px;
  position            : absolute;
  margin              : 0;
  left                : 561px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 82.0px;
}
.homepage .michaelscott {
  background-color    : rgba(255,255,255,0.0);
  top                 : 367px;
  height              : auto;
  width               : 646px;
  position            : absolute;
  margin              : 0;
  left                : 551px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 82.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 82.0px;
}
.homepage .michaelscott .span1 {
  line-height         : 111.0px;
}
.homepage .michaelscott .span2 {
  font-size           : 118.0px;
  line-height         : 160.0px;
}
.homepage .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 143px;
  height              : auto;
  width               : 1093px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 118.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 160.0px;
}
.homepage .calendar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 805px;
  height              : 220px;
  width               : 220px;
  position            : absolute;
  margin              : 0;
  left                : 3766px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .checkout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 800px;
  height              : 231px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 5549px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .notifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4004px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 6204px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 150.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 204.0px;
}
.homepage .alarm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3927px;
  height              : 355px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 5749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3926px;
  height              : 141px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 5723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3907px;
  height              : auto;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 5723px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 118.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 160.0px;
}
.homepage .screenshot20190514at92233pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 337px;
  width               : 425px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .screenshot20190514at92233pm .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 311px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .screenshot20190514at92233pm .screenshot20190514at92233pm1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 337px;
  width               : 425px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .line3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 860px;
  height              : 4px;
  width               : 1183px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .line3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1084px;
  height              : 4px;
  width               : 1183px;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .account {
  background-color    : rgba(255,255,255,0.0);
  top                 : 941px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 70.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 95.0px;
}
.homepage .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1344px;
  height              : 164px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .profile {
  background-color    : rgba(255,255,255,0.0);
  top                 : 896px;
  height              : 140px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 184px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .drugtesting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1850px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 3301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 85.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 116.0px;
}
.homepage .tobycopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1856px;
  height              : 396px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 5887px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .tobycopy .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 236px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepage .tobycopy .toby {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 396px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}