body {
  margin: 30px;
}
body .account {
  flex-direction: column;
  background-color: grey;
  height: 300px;
  display: flex;
}
body .account img {
  margin-top: 5%;
  width: 40%;
  height: 20%;
  border-radius: 50%;
}
body .account p {
  margin-left: 2%;
  font-size: 0.8rem;
  border-bottom: 1px solid black;
}
body .account h2 {
  font-size: 1rem;
}
body .account a {
  color: black;
}
body .info {
  display: flex;
  height: 300px;
  background-color: #e74c3c;
  flex-wrap: wrap;
  font-size: 1rem;
}
body .info h2 {
  margin-top: 15%;
  width: 100%;
  font-size: 1.5rem;
}
body .card {
  margin-top: 5%;
}
.test {
  display: flex;
  justify-content: center;
}
