.container {
  display: flex;
}
.container .right {
  color: black;
  padding-left: 10%;
  width: 85%;
  height: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.container .right .sq-1 {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
.container .right .sq-1 h4 {
  font-size: 1rem;
  margin-top: -40%;
  color: green;
}
.container .right .sq-1 .cal {
  font-size: 2rem;
}
.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 80%;
}
.cards .card {
  margin-right: 2%;
}
