@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400');

@font-face {
                          font-family: "Posterama2001W04-Regular";
                          src: url('../fonts/Posterama 2001 W04 Regular.otf') format("opentype");
                        }
                        
.artboardcopy {
  width               : 100%;
  min-width           : 1200px;
  height              : 100vh;
  min-height          : 700px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.artboardcopy .polygoncopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : -169px;
  height              : 1108px;
  width               : 1139px;
  position            : absolute;
  margin              : 0;
  left                : -631px;
  -ms-transform       : rotate(18deg); /* IE 9 */
  -webkit-transform   : rotate(18deg); /* Chrome, Safari, Opera */
  transform           : rotate(18deg);
}
.artboardcopy .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : 190px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .group .rectangle {
  background-color    : rgba(112, 184, 232, 1.0);
  top                 : 14px;
  height              : 69px;
  box-sizing          : border-box;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .group .k {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 98.0px;
}
.artboardcopy .group .arenda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.artboardcopy .whitecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 155px;
  height              : 478px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .whitecopy .base {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 478px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .whitecopy .mask {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 15px;
  height              : 430px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .whitecopy .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 16px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .rectanglecopy2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 256px;
  height              : 285px;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 269px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 269px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 323px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 269px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .geteventdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 242px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 595px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 74.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 101.0px;
}
.artboardcopy .aboutcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 791px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.artboardcopy .contactcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1018px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.artboardcopy .pricescopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 928px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.artboardcopy .faqcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.artboardcopy .eventdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 12.0px;
}
.artboardcopy .eventdetails .span1 {
  line-height         : 24.0px;
}
.artboardcopy .eventdetails .span2 {
  font-size           : 12.0px;
  line-height         : 16.0px;
}
.artboardcopy .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 383px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 213px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 273px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .andyu2019sparty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 282px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
.artboardcopy .ovalcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 383px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 254px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 483px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 211px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 383px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 299px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .ovalcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 434px;
  height              : 43px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 297px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.artboardcopy .going {
  background-color    : rgba(255,255,255,0.0);
  top                 : 353px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 249px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.artboardcopy .going .span1 {
  line-height         : 21.0px;
}
.artboardcopy .going .span2 {
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  line-height         : 20.0px;
}
.artboardcopy .coworkers {
  background-color    : rgba(255,255,255,0.0);
  top                 : 336px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 229px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 21.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}