@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400');

@font-face {
                          font-family: "Posterama2001W04-Regular";
                          src: url('../fonts/Posterama 2001 W04 Regular.otf') format("opentype");
                        }
                        
.homepagedesktop {
  width               : 100%;
  min-width           : 1200px;
  height              : 100vh;
  min-height          : 700px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.homepagedesktop .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : 190px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 907px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group .rectangle {
  background-color    : rgba(112, 184, 232, 1.0);
  top                 : 14px;
  height              : 69px;
  box-sizing          : border-box;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group .k {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 98.0px;
}
.homepagedesktop .group .arenda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .plus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 511px;
  height              : 67px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .alarm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : 61px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .addanewevent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 522px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .notifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 605px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .rectangle4 {
  background-color    : rgba(255, 255, 255, 0.87);
  top                 : 52px;
  height              : 89px;
  box-sizing          : border-box;
  width               : 1050px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(140, 140, 140, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 70px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .oval2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 70px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 495px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .calendar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 49px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 512px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .oval2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 70px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 839px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .numberofevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 198px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .futureevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .pastevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 932px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.homepagedesktop .event {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .checkout {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 853px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 597px;
  height              : 23px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 595px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homepagedesktop .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 231px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 18px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3 .line2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3 .line2copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 231px;
  width               : 485px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 234px;
  border-radius       : 18px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy .viewdetails3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.homepagedesktop .group3copy .viewdetails11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 190px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 301px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.homepagedesktop .group3copy .line2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy .line2copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 231px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 624px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy2 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 18px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy2 .line2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy2 .line2copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .viewdetails {
  background-color    : rgba(255,255,255,0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 702px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.homepagedesktop .group3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 219px;
  height              : 231px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 916px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 231px;
  box-sizing          : border-box;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  border-radius       : 18px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy3 .line2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .group3copy3 .line2copy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 67px;
  height              : 2px;
  width               : 252px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.homepagedesktop .viewdetails1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 984px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.homepagedesktop .drugtesting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homepagedesktop .drugtestingcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 451px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homepagedesktop .drugtestingcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homepagedesktop .drugtestingcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1041px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.homepagedesktop .room101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 160px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.homepagedesktop .room101copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 451px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.homepagedesktop .room101copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 749px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.homepagedesktop .room101copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 252px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1041px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.homepagedesktop .viewdetails2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 409px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 95px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(200, 200, 200, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}