@import url('https://fonts.googleapis.com/css?family=Bree+Serif:400');

@font-face {
                          font-family: "Posterama2001W04-Regular";
                          src: url('../fonts/Posterama 2001 W04 Regular.otf') format("opentype");
                        }
                        
.landingpage {
  width               : 100%;
  min-width           : 1200px;
  height              : 100vh;
  min-height          : 700px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.landingpage .polygon {
  background-color    : rgba(255,255,255,0.0);
  top                 : -402px;
  height              : 995px;
  width               : 646px;
  position            : absolute;
  margin              : 0;
  left                : 777px;
  -ms-transform       : rotate(18deg); /* IE 9 */
  -webkit-transform   : rotate(18deg); /* Chrome, Safari, Opera */
  transform           : rotate(18deg);
}
.landingpage .organizeyourcorpor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : auto;
  width               : 454px;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 60.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 62.0px;
}
.landingpage .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 67px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 67px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .login {
  background-color    : rgba(255,255,255,0.0);
  top                 : 358px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(206, 206, 206, 1.0);
  text-align          : center;
  line-height         : 34.0px;
}
.landingpage .groupcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 415px;
  height              : 67px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .groupcopy2 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 67px;
  width               : 427px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .fontawesome470envelopeo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 354px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 562px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .white {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : 478px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 701px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .white .base {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 478px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .white .mask {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 15px;
  height              : 430px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  border-radius       : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .white .bar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 16px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .password {
  background-color    : rgba(255,255,255,0.0);
  top                 : 433px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(206, 206, 206, 1.0);
  text-align          : center;
  line-height         : 34.0px;
}
.landingpage .alarm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : 23px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 885px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .dundermifflin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 798px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.landingpage .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 798px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.landingpage .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1025px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.landingpage .prices {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 937px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.landingpage .faq {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1128px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 28.0px;
}
.landingpage .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : 363px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 733px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 132px;
  height              : 116px;
  box-sizing          : border-box;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 19px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 0.33);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .notgoing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : auto;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 112px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(245, 55, 55, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.landingpage .group2 .coworkersgoing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : auto;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 7.0px;
  color               : rgba(104, 171, 217, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.landingpage .group2 .a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 8.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 11.0px;
}
.landingpage .group2 .download {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : 33px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .download .download1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .tobyu2019sparty {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : auto;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 12.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 16.0px;
}
.landingpage .group2 .screenshot20190514at92233pmcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .screenshot20190514at92233pmcopy2 .screenshot20190514at92233pmcopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .screenshot20190514at92233pmcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 206px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2 .screenshot20190514at92233pmcopy .screenshot20190514at92233pmcopy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .myevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 738px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(117, 117, 117, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.landingpage .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 241px;
  height              : 2px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 789px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .futureevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 788px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.landingpage .pastevents {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 853px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 10.0px;
  color               : rgba(117, 117, 117, 1.0);
  text-align          : center;
  line-height         : 14.0px;
}
.landingpage .regionalmanager {
  background-color    : rgba(255,255,255,0.0);
  top                 : 191px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 800px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 9.0px;
  color               : rgba(117, 117, 117, 1.0);
  text-align          : center;
  line-height         : 13.0px;
}
.landingpage .futureevents1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 267px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 778px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(65, 65, 65, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.landingpage .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 478px;
  height              : 28px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 885px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .group2copy .plus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .addevent {
  background-color    : rgba(255,255,255,0.0);
  top                 : 480px;
  height              : auto;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 808px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.landingpage .arrowpointtoright1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 342px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 904px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .notifications {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 793px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Bree Serif", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 15.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.landingpage .notifications .span1 {
  
}
.landingpage .notifications .span2 {
  color               : rgba(112, 184, 232, 1.0);
}
.landingpage .groupcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 594px;
  height              : 190px;
  width               : 310px;
  position            : absolute;
  margin              : 0;
  left                : 912px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .groupcopy .rectangle {
  background-color    : rgba(112, 184, 232, 1.0);
  top                 : 14px;
  height              : 69px;
  box-sizing          : border-box;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
  border-radius       : 11px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(150, 150, 150, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .groupcopy .k {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 98.0px;
}
.landingpage .groupcopy .arenda {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : auto;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Posterama2001W04-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(112, 184, 232, 1.0);
  text-align          : center;
  line-height         : 37.0px;
}
.landingpage .toby {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : 40px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 755px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.landingpage .toby .toby1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}