body {
  #output {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 80%;
  }
  .hey {
   width: 45%;
    margin-top: 5%;
    padding: 2%;
    border: solid black 2px;
    margin-right: 5%;
   
  }
  .myButton{
    height: 200px;
    background-color: red;
  } 
  margin: 30px;
  .account {
   
    flex-direction: column;
    background-color: grey;
    height: 300px;
    display: flex;

    img {
      margin-top: 5%;
      width: 40%;
      height: 20%;
      border-radius: 50%;
    }
    p {
      margin-left: 2%;
      
      font-size: 0.8rem;
      border-bottom: 1px solid black;
    }
    h2 {
      font-size: 1rem;
    }
    a {
      color: black;
   
      
  
  }

}
.info {
  display: flex;
  height: 300px;
  background-color: #e74c3c;
flex-wrap: wrap;
  
    font-size: 1rem;
    h2 {
      margin-top: 15%;
      width: 100%;
      font-size: 1.5rem;
    }



  
}

.card {
  margin-top: 5%;
}


// .my-container {

//   border: 1px solid red;

//   .my-row {
//     border: 3px solid black;
//     height: 300px
//   }
//   .my-col {
//     border: 3px dotted green;
//   }

// }
}

.test {
display: flex;
justify-content: center
}